[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pydantic = "*"
game-analyzer = {editable = true, path = "."}
ruff = "*"
jupyter = "*"
notebook = "*"

[dev-packages]
ipykernel = "*"
ruff = "*"
pytest = "*"

[requires]
python_version = ">=3.9"
